{% load static %}

<footer  class="footer mt-5">

    <div class="container-fluid bg-light">

        <div class="row justify-content-center pt-2">

            <div class= "col-lg-3 col-md-3 col-sm-12 mt-2 ">

                <h5>LET US HELP YOU</h5>

                <ul class="rss">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">How to Shop on Bura</a></li>
                    <li><a href="#">Track Your Order</a></li>
                    <li><a href="#">Shipping and Delivery</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Corporate and Bulk Purchase</a></li>

                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 mt-2">
                
                <h5>MAKE MONEY WITH BURA</h5> 

                <ul class="rss">
                    <li><a href="#">Sell on Bura</a></li>
                    <li><a href="#">Become an Affiliate Partner</a></li>
                    <li><a href="#">Become a Logistics Service Partner</a></li>
                    <li><a href="#">City Partner Program</a></li>
                    
                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 mt-2 ">

                <h5>GET TO KNOW US</h5>

                
                <ul class="rss">

                    <li><a href="#">Careers</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy & Cookie Notice</a></li>
        
                </ul>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 mt-2">

                <h5>JOIN US</h5>

                <a href= " https://www.facebook.com">
                    <i class="fa fa-facebook-square fa-3x  text-chocolate mx-3 hover-transform"></i>
                  </a>
                  
                  <a href= "https://www.twitter.com">
                      <i class="fa fa-twitter-square fa-3x  text-chocolate mx-3 hover-transform"></i>
                  </a>
                      
                  <a href= " https://www.fa-instagram.com">
                      <i class="fa fa-instagram fa-3x  text-chocolate mx-3 hover-transform"></i>
                  </a>

               
               <h5> PAYMENT METHODS & DELIVERY</h5> 

               <a href= " #">
                <i class="fa fa-cc-visa" aria-hidden="true" ></i>
              </a>
              
              <a href= "#">
                <i class="fa fa-paypal" aria-hidden="true"></i>
              </a>
                  
              <a href= " #">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
              </a>

              <a href= " #">
                <i class="fa fa-google-wallet" aria-hidden="true"></i>
              </a>



            </div>

            
            
        </div>

        

    </div>

    <div class="container-fluid bg-light">

        <h5 class="text-center mb-3">Our Partners</h5>
        <div class="row justify-content-center mb-3">

            <img class="footer-image mx-3 img-fluid" src="{% static 'kcb.png' %}" alt="KCB">
            <img class="footer-image mx-3 img-fluid" src="{% static 'M-pesa.jpg' %}" alt="M-PESA">
            <img class="footer-image mx-3 img-fluid" src="{% static 'airtel.png' %}" alt="Airtel">
            <img class="footer-image mx-3 img-fluid" src="{% static 'visa.png' %}" alt="VISA">


        </div>

        <div class="row justify-content-center bg-dwhite text-dark py-1">

            © 2021 Copyright:
            <a class="text-dark" >Bura, All rights reserved</a>

        </div>

    </div>


   </footer>
  
   