
{% load static %}

<a href= "{% url 'front_product_details' product.id %}" style="text-decoration: none;">
    <div class="product-card bg-light text-dark">
		<div class="product-badge">Hot</div>
		<div class="product-tumb">
			<img src="{{product.image.url}}" alt="">
		</div>
		<div class="product-details ">
			<span class="product-category">{{product.category_id}}</span>
			<h4 class="text-dark"><a href= "{% url 'front_product_details' product.id %}"  >{{product.name}}</a></h4>
			<p class="text-dark">{{product.description|truncatewords:10}}</p>
			<div class="product-bottom-details ">
				<div class="product-price">Kshs {{product.cost}}</div>
				<div class="product-review">{{product.review}}</div>
				<div class="customer-feedback">Kshs {{customer.feedback}}</div>
				
				<div class="product-links">

					<a href="javascript:void(0)" data-product="{{product.id}}" class="addWishlist"><i class="fa fa-heart"></i></a>
					<a href="javascript:void(0)" data-product="{{product.id}}" class="addCart"><i class="fa fa-shopping-cart"></i></a>
					
				</div>

			</div>

		</div>
		
	</div>


</a>