<nav id="sidebar">
    <div class="sidebar-header">
        <h3>My Shop</h3>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="#"><i class="fa fa-tachometer mr-2"></i>Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-tag mr-2"></i>Categories</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bath mr-2"></i>Products</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-flash mr-2"></i>Offers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gift mr-2"></i>Vouchers</a>
        </li> 
        <li>
            <a href="#"><i class="fa fa-bars mr-2"></i>Orders</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-credit-card-alt mr-2"></i>Payments</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-users mr-2"></i>Sellers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-users mr-2"></i>Customers</a>
        </li>
        <!-- <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li> -->
        
    </ul>
</nav>